[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
X-Nemo-Single-Instance=no
Icon=screentapshot-lipstick
Exec=screentapshot-lipstick
Name=ScreenTapShot
Name[fi_FI]=Kuvakaappausnappi
X-MeeGo-Logical-Id=ScreenTapShot
X-MeeGo-Translation-Catalog=/usr/share/screentapshot-lipstick/translations/screentapshot-lipstick
